.ipl {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  background-size: cover;
  color: white;
  height: 100vh;
  padding: 20px;
}
p {
  color: white;
}
.teams-list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90vw;
  padding: 0px;
}
.logo {
  height: 50px;
}
.flexRowHome {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media screen and (max-width: 767px) {
  .teams-list {
    justify-content: space-around;
  }
}